<p>This is the addSession view.</p>
<form>
	<div class="form-group">
		<label>Dagsetning:</label>
		<div class="input-group">

			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" required/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label>Lýsing:</label>
		<textarea class="form-control"></textarea>
		<div class="input-group">

		</div>
	</div>
</form>