<div class="container">

      <form role="form" ng-submit="addFighter()">
		<h2>Skrá nýjann bardagamann</h2>
		  <div class="form-group">
		    <label>Nafn</label>
	      	<input ng-model="newFighter.name" class="form-control" placeholder="Nafn bardagamnns" required/> 		    
		  </div>

		  <div class="form-group">
		  	<label>Staða</label>
	      	<select class="form-control" ng-model="newFighter.status" ng-options="status as status for status in statuses" required></select>
		  </div>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Skrá</button>        	
		</form>

</div> <!-- /container -->