<div class="form-group">
		<table  class="table table-condensed table-striped table-hover">
  			<thead>
  				<tr>
  					<th><input class="" type="text" ng-model="search.name" placeholder=" Leita"/></th>
  					<th><select class="form-control" ng-options="status.filter as status.status for status in filterStatus"  ng-model="search.status" placeholder=" Leita eftir stöðu" ng-init="search.status = ''"></select></th>  
  					<th></th>								
  					<th></th>		
  					<th></th>
				</tr>
				
			</thead>
			<tbody>
				<tr  ng-repeat="fighter in fighters | filter: search |  orderBy: '+name' ">
					<td><input ng-disabled="!fighter.editable" class="" ng-model="fighter.name" /></td>	
					<td>
						<div class="btn-group">
							<label ng-model="fighter.is_newbie" btn-checkbox class="btn btn-default">Nýliði</label>
							<label ng-model="fighter.is_fighter" btn-checkbox class="btn btn-default">Bardagamaður</label>
							<label ng-model="fighter.is_archer" btn-checkbox class="btn btn-default">Bogamaður</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label>
								<input ng-disabled="!fighter.editable" type="checkbox" ng-model="fighter.is_trainer"> Þjálfari
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label>
								<input ng-disabled="!fighter.editable" type="checkbox" ng-model="fighter.can_post_notifications"> Má tilkynna
							</label>
						</div>
					</td>
					<td>
						<button ng-show="!fighter.editable" class="btn btn-warning" ng-click="edit(fighter)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>

						<button ng-show="fighter.editable" class="btn btn-warning" ng-click="cancel(fighter)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

						<button ng-show="fighter.editable" class="btn btn-success" ng-click="save(fighter)"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>