<table class="table table-condensed table-responsive texter-center">
	<head>
		<tr>
			<th></th>
			<th ng-repeat="session in sessions">{{session.date}}</th>
			<th>Samtals:</th>

	</head>
	<tbody>
		<tr ng-repeat="fighter in fighters | orderBy: '+name'">
			<td>{{fighter.name}}</td>
			<td ng-repeat="session in sessions">
				<span class="texter-center" ng-show="session.full_attendance.indexOf(fighter.id) != -1">1</span>
				<span class="texter-center" ng-show="session.half_attendance.indexOf(fighter.id) != -1">&#189;</span>
			</td>
			<td>{{fighter.total}}</td>
		</tr>
	</tbody>
</table>